{% extends "newzuul/base.html" %}

{% block header %}
    So, you want to add an item to the zuul, eh?
{% endblock header %}

{% block content %}
<form action="{% url 'newzuul:additemaction' %}" method="post">
    {% csrf_token %}
    <div class="panel">
        <div class="panel-body">
            <div class="form-group">
                <label for="username">Username</label>
                <div class="input-group">
                    <span class="input-group-addon"> Are you the Keymaster? o.O </span>
                    <input type="text" id="username" name="keymastername" class="form-control" autofocus>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <div class="input-group">
                    <span class="input-group-addon"> I am the Gate Keeper >:( </span>
                    <input type="password" min="0" max="99" id="password" name="gatekeeperpassword" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label for="name">Item Name</label>
                <input type="text" id="name" name="new_item_name" class="form-control">
            </div>
            <div class="form-group">
                <label for="price">Item Price</label>
                <input type="number" id="price" name="new_item_price" class="form-control" value="0.0" step="any">
                <span class="help-block">(Value from $0.0 to $999.99)</span>
            </div>
        </div>
        <div class="panel-footer">
            <button type="submit" class="btn btn-block btn-primary">
                Add Item
            </button>
        </div>
    </div>
</form>
{% endblock content %}
