{% extends "newzuul/base.html" %}

{% block header %}
    <p>Welcome to zuulweb!
    <small>The zuul's consumer and item index.</small></p>
{% endblock header %}

{% block content %}
    <p>To see the source code for this website, check out <a href="https://github.com/BrianBreniser/CATDjangoSite">GitHub</a>.</p>
    <div class="panel col-md-6 col-md-offset-0">
        <div class="panel-heading">List of Consumers <small>Select your name to make a purchase.</small></div>
        <table class="table table-striped">
            {% for person in consumer_list %}
                {% if person.bank >= 0 %}
                    <tr class="person">
                        <td><a class="btn btn-default" href="/newzuul/{{ person.id }}/purchase/" role="button"><span class="name"> {{ person.name }} </span></a></td>
                        <td class="balance"><span>Has a balance of:</span> <span class="bank"> ${{ person.bank }} </span></td>
                    </tr>
                {% elif person.bank < 0 %}
                    <tr class="person danger">
                        <td><a class="btn btn-default" href="/newzuul/{{ person.id }}/purchase/" role="button"><span class="name"> {{ person.name }} </span></a></td>
                        <td class="balance"><span>Has a balance of:</span> <span class="bank"> ${{ person.bank }} </span></td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
        <div class="panel-footer">
            <a class="btn btn-block btn-primary" href="/newzuul/adduser/" role="button">Add a Person</a>
        </div>
    </div>

    <div class="panel col-md-6 col-md-offset-0">
        <div class="panel-heading">Items for Sale</div>
        <table class="table table-striped">
            {% for item in item_list %}
                <tr class="item">
                    <td><span class="name"> {{ item.name }} </span></td>
                    <td><span>Is priced at:</span> <span class="bank"> ${{ item.price }} </span></td>
                </tr>                
            {% endfor %}
        </table>
        <div class="panel-footer">
            <a class="btn btn-block btn-primary" href="/newzuul/additem/" role="button">Add an Item</a>
        </div>
    </div>
{% endblock content %}
