{% extends "newzuul/base.html" %}

{% block header %}
    <p> Hello, this is our consumer and item index </p>
{% endblock header %}

{% block content %}
    <div class="col-md-6 col-md-offset-0">
        <ul class="list-group">
            <li class="list-group-item" id="darkback">
                This is our list of consumers, please click your name to check something out
            </li>
            {% for person in consumer_list %}
                {% if person.bank >= 0 %}
                        <li id="positivebank" class="list-group-item"> <a href="/newzuul/{{ person.id }}/purchase/"> <button type="button" class="btn btn-default btn-default" style="background-color: lightgrey"> <span class="personname"> {{ person.name }} </span> </button> </a> <span class="shortdescription"> Has a bank of:</span> <span class="personbank"> ${{ person.bank }} </span></li>
                {% elif person.bank < 0 %}
                        <li id="negativebank" class="list-group-item"> <a href="/newzuul/{{ person.id }}/purchase/"> <button type="button" class="btn btn-default btn-default" style="background-color: EBF0F5"> <span class="personname"> {{ person.name }} </span> </button> </a> <span class="shortdescription"> Has a bank of:</span> <span class="personbank"> ${{ person.bank }} </span></li>
                {% endif %}
            {% endfor %}
            <li id="negativebank" class="list-group-item"> <a href="/newzuul/adduser/"> <button class="btn btn-default btn-primary">
                Add a new person button here!
            </button> </a> </li>
        </ul>
    </div>

    <div class="col-md-6 col-md-offset-0">
            <li class="list-group-item" id="darkback">
                This is our list of items available at this time
            </li>
        <ul class="list-group">
            {% for item in item_list %}
                <li id="consumable" class="list-group-item"> <span class="personname"> {{ item.name }} </span> <span class="shortdescription"> Is priced at:</span> <span class="personbank"> ${{ item.price }} </span></li>
            {% endfor %}
            <li id="negativebank" class="list-group-item"> <a href="/newzuul/additem/"> <button class="btn btn-default btn-primary">
                The Keymaster may add a new item here
            </button> </a> </li>
        </ul>
    </div>
{% endblock content %}
